<!-- about.component.html -->
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h2 {
                margin-bottom: 0; /* Optionally remove margin-bottom from h2 */
            }
            p {
                padding-left: 20px;
            }
        </style>
    </head>
    <body>
        <div class="about">
            <h2>About me</h2>
            <p> 
                Hello! My name is Roberto Bermúdez. With this website, I've created a platform to showcase my portfolio, 
                curated with moments captured with my camera during trips. Also to highlight my skills in web development 
                by creating this website to show both of these skills toegether.
            </p>
        </div>

        <div class = "website">
            <h2>Creating the site</h2>
            <p>
                To create the website, I used Angular as the development platform, Git for version control,
                and Visual Studio Code as the editor. Intially, after creating the initial componets of the
                header and gallery/about page. I added in the photos that I wanted to display. Finally to deploy
                the website, I decided to use ... and buy a domain, etc.
            </p>
            <h2>Future Plans</h2>
            <p>
                I would like to expand the website by having a page that contains thumbnails of the different
                location or event and allow the user to click on a location they would like to see the photos of.
                Showing the user an album of that location or event.

                Later I would like to add simple animations to give the site to give it more life.
            </p>
        </div>

        <div class = "tech-stack info">
            <h2> Tech Stack Used </h2>
            <ul>
                <li>Angular</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>TypeScript</li>
                <li>Git</li>
                <li>Visual Studio Code</li>
            </ul>
        </div>

        <div class="photography-info">
            <h2>Photography Tools</h2>
            <ul>
                <li>Camera: Leica Q2 </li>
                <li>Editing Software: Adobe Lightroom</li>
            </ul>
        </div>

        <div class="contact-info">
            <h2>Contact Information</h2>
                <p>
                    Email: <a href="mailto:rbermudez8@icloud.com">rbermudez8&#64;icloud.com</a>
                </p>
                <p>
                    Github: <a href="https://github.com/rbermudez8">https://github.com/rbermudez8</a>
                </p>
                <p>
                    LinkedIn Profile: <a href="https://www.linkedin.com/in/roberto-bermudez-49b16710a/">https://www.linkedin.com/in/roberto-bermudez-49b16710a/</a>
                </p>
        </div>
    </body>
</html>