/* header.component.scss */
.header {
    display: flex;
    justify-content:last baseline;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}

.logo img {
    margin-right: auto;
    width: 200px;
    height: auto;
    padding-right: 20px;
}

.nav-links {
    display: flex;
}


.nav-links a {
    text-decoration: none;
    color:white;
    padding: 0 10px;
}

.nav-links a.active {
    font-weight: bolder;
}

