<!-- gallery.component.html -->

<div class="gallery">
    <div class="image" *ngFor="let image of images" (click)="openFullView(image)">
        <img [src]="image.url" alt="{{ image.title }}">
        <div class="overlay">
            <h2>{{ image.title }} </h2>
            <p> {{ image.description }} </p>
        </div>
    </div>
</div>

<!-- Full Screen model -->
<div class="modal" *ngIf="selectedImage" (click)="closeFullView()">
    <div class="modal-content">
        <span class="close" (click)="closeFullView()">&times;</span>
        <img [src]="selectedImage.url" alt="{{ selectedImage.title }}">
        <div class="overlay">
            <h2> {{ selectedImage.title }} </h2>
            <p> {{ selectedImage.description }}</p>
        </div>
    </div>
</div>